<a href="https://colab.research.google.com/github/SwathiMenon/Machine_learning/blob/main/Startup_Investment_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



DATASET: https://www.kaggle.com/datasets/sonalisingh1411/startup50

This dataset has data collected from New York, California and Florida about 50 business Startups "17 in each state". The variables used in the dataset are Profit, R&D spending, Administration Spending, and Marketing Spending.

AIM:To predict whether a particular startup would be safe to invest in or not.

In [ ]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/datasets/50_Startups.xls")
df

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [ ]:
df.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [ ]:
df.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [ ]:
#label Encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["State"]=le.fit_transform(df["State"])

splitting in to x and y

In [ ]:
x=df.iloc[:,1:]
x

    Administration  Marketing Spend  State     Profit
0        136897.80        471784.10      2  192261.83
1        151377.59        443898.53      0  191792.06
2        101145.55        407934.54      1  191050.39
3        118671.85        383199.62      2  182901.99
4         91391.77        366168.42      1  166187.94
5         99814.71        362861.36      2  156991.12
6        147198.87        127716.82      0  156122.51
7        145530.06        323876.68      1  155752.60
8        148718.95        311613.29      2  152211.77
9        108679.17        304981.62      0  149759.96
10       110594.11        229160.95      1  146121.95
11        91790.61        249744.55      0  144259.40
12       127320.38        249839.44      1  141585.52
13       135495.07        252664.93      0  134307.35
14       156547.42        256512.92      1  132602.65
15       122616.84        261776.23      2  129917.04
16       121597.55        264346.06      0  126992.93
17       145077.58        282574.31      2  125370.37
18       114175.79        294919.57      1  124266.90
19       153514.11             0.00      2  122776.86
20       113867.30        298664.47      0  118474.03
21       153773.43        299737.29      2  111313.02
22       122782.75        303319.26      1  110352.25
23       105751.03        304768.73      1  108733.99
24        99281.34        140574.81      2  108552.04
25       139553.16        137962.62      0  107404.34
26       144135.98        134050.07      1  105733.54
27       127864.55        353183.81      2  105008.31
28       182645.56        118148.20      1  103282.38
29       153032.06        107138.38      2  101004.64
30       115641.28         91131.24      1   99937.59
31       152701.92         88218.23      2   97483.56
32       129219.61         46085.25      0   97427.84
33       103057.49        214634.81      1   96778.92
34       157693.92        210797.67      0   96712.80
35        85047.44        205517.64      2   96479.51
36       127056.21        201126.82      1   90708.19
37        51283.14        197029.42      0   89949.14
38        65947.93        185265.10      2   81229.06
39        82982.09        174999.30      0   81005.76
40       118546.05        172795.67      0   78239.91
41        84710.77        164470.71      1   77798.83
42        96189.63        148001.11      0   71498.49
43       127382.30         35534.17      2   69758.98
44       154806.14         28334.72      0   65200.33
45       124153.04          1903.93      2   64926.08
46       115816.21        297114.46      1   49490.75
47       135426.92             0.00      0   42559.73
48        51743.15             0.00      2   35673.41
49       116983.80         45173.06      0   14681.40

In [ ]:
y = df.iloc[:, 1]
y

0     136897.80
1     151377.59
2     101145.55
3     118671.85
4      91391.77
5      99814.71
6     147198.87
7     145530.06
8     148718.95
9     108679.17
10    110594.11
11     91790.61
12    127320.38
13    135495.07
14    156547.42
15    122616.84
16    121597.55
17    145077.58
18    114175.79
19    153514.11
20    113867.30
21    153773.43
22    122782.75
23    105751.03
24     99281.34
25    139553.16
26    144135.98
27    127864.55
28    182645.56
29    153032.06
30    115641.28
31    152701.92
32    129219.61
33    103057.49
34    157693.92
35     85047.44
36    127056.21
37     51283.14
38     65947.93
39     82982.09
40    118546.05
41     84710.77
42     96189.63
43    127382.30
44    154806.14
45    124153.04
46    115816.21
47    135426.92
48     51743.15
49    116983.80
Name: Administration, dtype: float64

In [ ]:
#SCALING
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
scx=mms.fit_transform(x)

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(scx, y, test_size = 0.2, random_state = 0)

#Building a model

**Multiple Regression**

In [ ]:

# Fitting Multiple Linear Regression to the Training set
#MULTIPLE REG MODEL BUILDING
from sklearn.linear_model import LinearRegression
mlr=LinearRegression()
mlr.fit(X_train,y_train)
y_pred=mlr.predict(X_test)
y_pred

array([182645.56,  91790.61, 110594.11,  84710.77, 101145.55, 127864.55,
        65947.93, 152701.92, 122782.75,  91391.77])

In [ ]:
#MULTIPLE REG PERFORMANCE_MEASURE
import numpy as np
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
print("mean absolute error",mean_absolute_error(y_test,y_pred))
print("mean squred error",mean_squared_error(y_test,y_pred))
print("root mean squred error",np.sqrt(mean_squared_error(y_test,y_pred)))
print("r2_score",r2_score(y_test,y_pred))

mean absolute error 4.656612873077393e-11
mean squred error 2.456395547037471e-21
root mean squred error 4.9562037357613444e-11
r2_score 1.0

**SVR**

In [ ]:
from sklearn.svm import SVR
svr=SVR()
svr.fit(X_train,y_train)
y_pred=mlr.predict(X_test)
y_pred

array([182645.56,  91790.61, 110594.11,  84710.77, 101145.55, 127864.55,
        65947.93, 152701.92, 122782.75,  91391.77])

In [ ]:
import numpy as np
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
print("mean absolute error",mean_absolute_error(y_test,y_pred))
print("mean squred error",mean_squared_error(y_test,y_pred))
print("root mean squred error",np.sqrt(mean_squared_error(y_test,y_pred)))
print("r2_score",r2_score(y_test,y_pred))

mean absolute error 4.656612873077393e-11
mean squred error 2.456395547037471e-21
root mean squred error 4.9562037357613444e-11
r2_score 1.0